:root {
    /*palette*/
    --main-blue: #263168;
    --sec-blue: #909DCF;
    --header-sec-blue: rgba(144, 157, 207, 0.9); 
    --green: #72B53A;
    --white: #ffffff;
    --text-blue: #40476C;
    /*hero*/
    --hero-bg: rgba(38, 49, 104, 0.8);
    /*Font*/
    --main-font: 'Comfortaa', cursive;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: var(--main-font);
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body header {
    width: 100%;
    position: fixed;
    z-index: 4;
    transition: all .3s ease;
}

body header nav {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

body header nav .logo-container {
    margin: 0.5rem 0;
}

body header nav .logo-container .normal-logo {
    background: url('../img/logo_secblue.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 5rem;
    text-decoration: none;
    color: transparent;
}

body header nav .menu-container {
    display: flex;
    align-items: center;
}

body header nav .menu-container ul li {
    display: inline;
    list-style: none;
    font-size: 1.6rem;
    padding-right: 4rem;
}

body header nav .menu-container ul li a {
    text-decoration: none;
    color: var(--sec-blue);
}

body header nav .menu-container ul li a:hover {
    border-bottom: 2px solid var(--sec-blue);
}

body header nav .menu-container .login-button {
    background-color: var(--green);
    color: var(--white);
    padding: 1rem 3rem;
    border-radius: 0.7rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
}

/*clases para javascript*/
body header nav .logo-container .scrolled-logo {
    background: url('../img/mainlogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 5rem;
    text-decoration: none;
    color: transparent;
}

.header-bg {
    background-color: var(--header-sec-blue);
    transition: all .5s ease-in-out;
}

body header nav .menu-container ul li .nav-options {
    text-decoration: none;
    color: var(--main-blue);
}

/*Estilos hero*/
main {
    position: relative;
    top: -8.1rem;
}

main .hero {
    width: 100%;
    height: 71rem;
    background: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main .hero .hero-bg {
    height: 100%;
    background: var(--hero-bg);
    display: flex;
    align-items: center;
}

main .hero .hero-bg .title-cta {
    margin: 0 auto;
    width: 55rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .hero .hero-bg .title-cta h1 {
    font-size: 6.4rem;
    margin: 0;
    padding-top: 5rem;
    color: var(--sec-blue);
    font-weight: 500;
}

main .hero .hero-bg .title-cta a {
    width: 18rem;
    margin-top: 2rem;
    padding: 1.1rem 0;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--green);
    border-radius: 0.7rem;
    color: var(--green);
    font-size: 1.8rem;
}

main .hero .hero-bg .title-cta a:hover {
    background: var(--green);
    color: var(--white);
    transition: ease-in-out .5s;
}

/*social media*/
main .social {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30%;
}
main .social .border {
    width: 4rem;
    height: 22rem;
    border-top: 2px solid var(--sec-blue);
    border-right: 2px solid var(--sec-blue);
    border-bottom: 2px solid var(--sec-blue);
    border-radius: 0 2rem 2rem 0;
}

main .social .social-icons {
    display: flex;
    flex-direction: column;
}

main .social .social-icons i {
    color: var(--sec-blue);
    margin: 0.5rem 0 0.5rem 1.5rem;
    font-size: 3.6rem;
    transition: all .3s ease;
}

main .social .social-icons i:hover {
    transform: translateX(0.4rem);
}

/*Scroll to top button*/
main .upTo {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 3rem 3rem;
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 50%;
    background-color: var(--sec-blue);
    cursor: pointer;
    color: var(--white);
    transition: all 0.2s ease-in-out;
}

main .upTo i {
    font-size: 2rem;
}

main .upTo:hover {
    background-color: var(--text-blue);
}

/*About styles*/
main .about-us {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

main .about-us h2 {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--main-blue);
    margin: 5rem 0;
}

main .about-us p {
    margin: 0 auto 5rem;
    width: 80%;
    font-size: 2rem;
}

main .about-us .about-cards-cont {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

main .about-us .about-cards-cont .about-card {
    width: 30%;
}

main .about-us .about-cards-cont .about-card img {
    width: 100%;
    height: 17rem;
    transition: all .3s ease;
}

main .about-us .about-cards-cont .about-card img:hover {
    transform: scale(102%);
}

main .about-us .about-cards-cont .about-card h3 {
    font-size: 2rem;
    padding: 2rem 5rem;
    margin: 2rem 0 4rem;
}

/*Our team styles*/
main .our-team {
    width: 100%;
    height: 55.8rem;
    background: url('../img/teamImg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main .our-team .our-team-bg {
    width: 100%;
    height: 100%;
    background-color: var(--hero-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .our-team .our-team-bg .info-container {
    width: 80%;
}

main .our-team .our-team-bg .info-container h2 {
    font-size: 4rem;
    color: var(--sec-blue);
}

main .our-team .our-team-bg .info-container .team-cards-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

main .our-team .our-team-bg .info-container .team-cards-cont .member-card {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all .4s ease-in-out;
}

main .our-team .our-team-bg .info-container .team-cards-cont .member-card:hover {
    transform: translateY(-0.3rem);
}

.info-container .team-cards-cont .member-card img {
    width: 60%;
    border-radius: 50%;
    margin: 2rem 0;
    border: 4px solid var(--green);
}

.info-container .team-cards-cont .member-card h3 {
    font-size: 2.2rem;
    margin: 0;
    color: var(--text-blue);
}

.info-container .team-cards-cont .member-card p {
    font-size: 1.4rem;
    color: var(--green);
    margin: 1rem 0;
}

.info-container .team-cards-cont .member-card i {
    font-size: 3rem;
    color: var(--sec-blue);
    margin: 0 0.5rem 1.5rem;
}

.info-container .team-cards-cont .member-card i:hover {
    color: var(--green);
}

/*Prices section styles*/
main .prices {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .prices h2 {
    margin-top: 6rem;
    font-size: 3.6rem;
    color: var(--main-blue);
}

main .prices .price-cards-container {
    width: 75%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.prices .price-cards-container .price-card {
    height: 60rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.prices .price-cards-container .price-card img {
    width: 22rem;
    margin: 4rem 0 2rem;
}

.prices .price-cards-container .price-card h3 {
    font-size: 2.4rem;
    color: var(--sec-blue);
    margin: 1.8rem 0;
}

.prices .price-cards-container .price-card p {
    width: 60%;
    font-size: 2rem;
    margin: 0 auto;
}

.prices .price-cards-container .price-card .price {
    font-size: 6rem;
    margin: 2rem auto 4rem;
    color: var(--sec-blue);
    font-weight: bold;
}

.prices .price-cards-container .price-card a {
    width: 22rem;
    background-color: var(--sec-blue);
    color: var(--white);
    text-decoration: none;
    font-size: 2.4rem;
    padding: 1.4rem 4rem 1rem;
    border-radius: 3rem;
}

/*main price box style*/
main .prices .price-cards-container .price-card:nth-child(2) {
    width: 42rem;
    height: 68rem;
    position: relative;
    z-index: 2;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.25);;
    overflow: hidden;
}

main .prices .price-cards-container .price-card:nth-child(2) img {
    width: 32rem;
    margin-top: 6rem;
}

main .prices .price-cards-container .price-card:nth-child(2) h3 {
    font-size: 4rem;
    color: var(--main-blue);
}

main .prices .price-cards-container .price-card:nth-child(2) p {
    font-size: 2.4rem;
}

main .prices .price-cards-container .price-card:nth-child(2) .price {
    font-size: 6.8rem;
    color: var(--green);
}

main .prices .price-cards-container .price-card:nth-child(2) a {
    background-color: var(--main-blue);
}

main .prices .price-cards-container .price-card:nth-child(2) .popular {
    position: absolute;
    top: 3rem;
    right: -5rem;
    width: 21rem;
    background-color: var(--main-blue);
    padding: 1rem 0;
    transform: rotate(45deg);
}

main .prices .price-cards-container .price-card:nth-child(2) .popular p {
    font-size: 2rem;
    color: var(--white);
}

/*FOOTER STYLES*/

footer {
    background-color: var(--main-blue);
}

footer .footer-content {
    width: 80%;
    margin: 0 auto;
    padding: 8rem 0 2rem;
    display: flex;
    border-bottom: 1px solid var(--sec-blue);
}

footer .footer-content .location-info {
    width: 40%;
}

footer .footer-content .location-info img {
    width: 21rem;
    margin-bottom: 2rem;
}

footer .footer-content .location-info p {
    font-size: 1.4rem;
    color: var(--white);
    font-weight: 300;
}

footer .footer-content .location-info .phone, 
footer .footer-content .location-info .map {
    font-size: 1.6rem;
    font-weight: bolder;
    margin: 1.4rem 0;
}

footer .rights, 
footer .author {
    text-align: center;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

footer .rights {
    padding: 2.5rem 0 1.5rem;
}

footer .author {
    padding-bottom: 2.5rem;
}

footer .footer-content .sitemap {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 2rem 0;
    padding: 2rem 0 0 8rem;
    border-left: 1px solid var(--sec-blue);
}

footer .footer-content .siteroutes h3, 
footer .footer-content .suscription h3{
    color: var(--green);
    font-size: 1.6rem;
    font-weight: 400;
}

footer .footer-content .siteroutes ul {
    padding: 0;
}

footer .footer-content .siteroutes li {
    list-style: none;
    font-size: 1.4rem;
}

footer .footer-content .siteroutes li a {
    text-decoration: none;
    display: block;
    color: var(--white);
    padding-bottom: 0.7rem;
    font-weight: 300;
}

footer .footer-content .suscription {
    width: 65%;
}

footer .footer-content .suscription p {
    width: 70%;
    font-size: 1.4rem;
    color: var(--white);
}

footer .footer-content .suscription #email {
    width: 20rem;
    height: 3.2rem;
    border: 0;
    margin: 0;
    background-color: #131A3E;
    font-family: 'Comfortaa', cursive;
    font-size: 1.4rem;
    padding-left: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
}

footer .footer-content .suscription #button {
    margin: 0;
    width: 8.8rem;
    height: 3.2rem;
    border: 0;
    background-color: var(--green);
    color: var(--white);
    font-family: 'Comfortaa', cursive;
    font-size: 1.4rem;
}